.header {
  position: sticky;
  top: 0;
  height: 4.5rem;
  text-align: center;
  background-color: #069e2d;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.header__title {
  margin: 0;
  padding: 1rem 0;
  color: #eeecec;
  font-family: "Fredoka One", cursive;
  -webkit-text-stroke: 1px #1c572a;
}
